<%- include('./partials/header') %>

<body class="home">
    <video playsinline preload="auto" autoplay muted loop src="/public/videos/NASA_Home.mp4" type="video/mp4" id="homeBackground">
    </video>
    <div>
        <h1 class="h1Home">Welcome to the NASA app</h1>
    </div>
</body>

<%- include('./partials/footer') %>