<%- include('../partials/header') %>

<div class="container center">

    <h2>NASA Image of the day</h2>
    <img src=<%= apod.url%> alt="NASA image of the day">
</div>

<%- include('./partials/footer') %>