<%- include('../partials/header') %>

<div class="container center">

    <h2>NASA Image and Video Library</h2>

    <form action="/imageVideoLib/imageIndex" method="POST">

        <input type="text" placeholder="Image Search" name="search"><br>
        <input type="radio" name="imageVideo" id="image" value="image">
        <label for="image">Image</label> <br>
        <input type="radio" name="imagevideo" id="video" value="video">
        <label for="video">Video</label><br>
        
        <input type="submit">
    </form>

    

    <form action="/imageVideoLib/videoIndex" method="POST">

        <input type="text" placeholder="Video Search" name="search">
        <input type="submit">
    </form>

    <img src='' alt="NASA image of the day"> 
</div>

<%- include('../partials/footer') %>