<%- include('../partials/header') %>

<div class="container center">

    <h2>NASA Image and Video Library</h2>

    <form action="/imageVideoLib/index" method="POST">

        <input type="text" placeholder="Image/Video Search" name="search">
        <input type="submit">
    </form>

    <img src='' alt="NASA image of the day"> 
</div>

<%- include('../partials/footer') %>