.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login img {
    height: 30px;
  }

  #homeBackground {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
  }

  .h1Home {
    text-shadow: 0 0 5px #fcfcfc, 0 0 5px #ffffff;
    color: rgb(5, 5, 5);
    text-align: center;
  }